{% extends 'base.html.twig' %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="public/css/index.css" type="text/css" />
{% endblock %}



<div class="slider">
  <div class="slider-right"> <i class="fas fa-angle-right"></i> </div>
  <div class="slider-left"> <i class="fas fa-angle-left"></i> </div>
  <div class="slider-container">
    <div class="slide1">
      <h2>Titre du slide</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button class="button bOrange">Connectez vous et jouer</button>
    </div>
    <div class="slide2">
      <h2>Titre du slide</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
        <a href="#"><button class="button bOrange">Connectez vous et jouer</button></a>
    </div>
  </div>
</div>

<div class="index-conteneur">
  <h3>titre</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
    <a href="#"><button class="button bOrange">Plus d'info</button></a>
</div>




{% for test in testTable %}
    {{ test.libelle }}

{% endfor %}

{% endblock %}

{% block javascripts %}

  <script src="public/js/slider.js"></script>

    <script>
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    //actions des bouttons
    var action1 = function(){
        console.log("faire un truc");
    }
    var action2 = function(){
        console.log("faire un autre truc");
        close_modal();
    }

    //définir le message du modal
    var message = {
        header:"Bonne réponse!",
        text:"<p>Vous avez une bonne réponse</p><p>Bravo!</p>",
        buttons: [{t:"Continuer",f:action1},{t:"Annuler",f:action2}],
    }

    //le modal s'ouvre quand on clique sur le bouton
    btn.onclick = function() {
        open_modal(message,false);
    }
    </script>
{% endblock %}
