{% extends 'base.html.twig' %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="public/css/index.css" type="text/css" />
{% endblock %}



<div class="slider">
  <div class="slider-right"> <i class="fas fa-angle-right"></i> </div>
  <div class="slider-left"> <i class="fas fa-angle-left"></i> </div>
  <div class="slider-container">
    <div class="slide1">
      <h2>SIM MI</h2>
      <p>
        Vivez l’expérience d’un conducteur de travaux en maison individuelle dans un jeu sérieux reprenant les différentes étapes de construction d’une maison.
      </p>
      <button class="button bOrange">Connectez vous et jouer</button>
    </div>
    <div class="slide2">
      <h2>Dirigez votre chantier</h2>
      <p>
        Suivez et dirigez l'évolution de votre chantier. Montrez-vous à la hauteur face aux intempéries du métier
      </p>
        <a href="#"><button  class="button bOrange">Connectez vous et jouer</button></a>
    </div>
  </div>
</div>

<div class="index-conteneur">
  <h3>plus d’info :</h3>
  <p>
   Ce jeu a été créé au sein d’un projet Transverse impliquant le département Génie Civil – Construction Durable et Construction Durable ainsi que le département Informatique de l’IUT de Bordeaux.
  </p>

  <p id = "show">
Le jeu a été développé dans un contexte d’un projet étudiant destiné aux futurs étudiants qui rejoindront le département Génie Civil - Construction Durable.
Il a pour objectifs d’aider les étudiants en DUT Génie Civil – Développement Durable à acquérir et à valider des compétences technologiques liées à leurs futurs métiers.
  </p>
    <a><button  onclick="myFunction()" class="button bOrange">Plus</button></a>
</div>




{% for test in testTable %}
    {{ test.libelle }}

{% endfor %}

{% endblock %}

{% block javascripts %}

  <script src="public/js/slider.js"></script>

    <script>
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    //actions des bouttons
    var action1 = function(){
        console.log("faire un truc");
    }
    var action2 = function(){
        console.log("faire un autre truc");
        close_modal();
    }

    //définir le message du modal
    var message = {
        header:"Bonne réponse!",
        text:"<p>Vous avez une bonne réponse</p><p>Bravo!</p>",
        buttons: [{t:"Continuer",f:action1},{t:"Annuler",f:action2}],
    }

    //le modal s'ouvre quand on clique sur le bouton
    btn.onclick = function() {
        open_modal(message,false);
    }

    function myFunction() {
  var x = document.getElementById("show");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
    </script>
{% endblock %}
