
.button{
  margin: 5px;
  padding: 5px 30px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}
.button:active{
  margin: 0px;
  padding: 10px 35px;
}

.bOrange{
  background-color: #ECA400;
  border: solid 1px #ECA400;
  color: white;
  transition: 0.2s;
  text-align: right;
}
.bOrange:hover{
  background-color: white;
  color: #ECA400;
  transition: 0.2s;
}
.left_panel{
  background-color: white;
  height: calc(100% - 220px);
  width: calc(30% - 20px);
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 5px;
}
.left_panel > div{
  width: 100%;
  height: 100%;
  position: relative;
}

.left_panel img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
}

.right_panel{
    /*background-color: #27476E;*/
    background-color: white;
    color: #27476E;
    height: calc(100% - 220px);
    width: calc(70% - 20px);
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    }

.question{
  position: absolute;
  background-color: #27476E;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 10px 0px;
  border-radius: 5px;
}
.question h3{

}

.answer{
  position: absolute;
  top: 50px;
  left: 55%;
  height: calc(100% - 50px);
  width: 45%;
}
.radios{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  font-size: 20px;
}

#send{
  position: absolute;
  bottom: 0px;
  right: 80px;
}

.img_question{
  position: absolute;
  top:calc(50% + 30px);
  left: 25%;
  transform: translate(-50%, -50%);
  max-width: 40%;
}

.img_question > img{
 height: 100%;
 width: 100%;
 display: block;
 margin: 0 auto;
 border-radius: 5px;
 box-shadow: 0px 5px 10px grey;
}

.bar{
  border-radius: 10px;
}
input[name=group1]{
  display: none;
}
.caseCheck{
  height: 15px;
  width: 15px;
  border-radius: 3px;
  display: inline-block;
  border: solid 1px black;
  margin: 0px 10px;
  position: relative;
}
.caseCheck > i{
  padding: 0;
  margin: 0;
  color: #DAC400;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  opacity: 0;
  font-size: 16px;
  transition: 0.3s;
}
.radios > input:checked + .caseCheck > i{
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.3s;
}
/*#answer1:checked ~ .case1 > i{
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.3s;
}
#answer2:checked ~ .case2 > i{
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.3s;
}
#answer3:checked ~ .case3 > i{
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.3s;
}
#answer4:checked ~ .case4 > i{
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.3s;
}*/
/*.bar{
background-color: #001D4A;
width: 200px;
}

.stat1{
     height:16px;
     width:20%;
     background-color:#ECA400;
}

.stat2{
     height:16px;
     width:50%;
     background-color:#ECA400;
}

.stat3{
     height:16px;
     width:80%;
     background-color:#ECA400;
}

.stat4{
     height:16px;
     width:100%;
     background-color:#ECA400;
}*/

.meters{
    display: flex;
    align-self: center;
    margin: 10px;
}

.progress{
    margin-right: 10px;
    padding:5px;
    transition: 0.5s;
    color:white;
}

.progress:hover{
  background: white;
  color:#006998;
}

.center{
      display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.conteneurgame{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  background-color: white;
}
.GameAideLink{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-100%);
  font-size: 25px;
  text-align: right;
}

.GameAideLink a{
  color: #27476E;
  text-decoration: none;
  border-bottom: solid 1px #27476E;
  border-radius: 5px;
}