<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SIM{% endblock %}</title>
        <link rel="stylesheet" href="public/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="public/css/global.css" type="text/css" />
        <link rel="stylesheet" href="public/css/classes.css" type="text/css" />
        <link rel="stylesheet" href="public/css/header.css" type="text/css" />
        <link rel="stylesheet" href="public/css/footer.css" type="text/css" />
        <link rel="stylesheet" href="public/css/modal.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
        {% block stylesheets %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
    <header>
        {% block navbar %}{% endblock %}
        <div class="logo"> 
            {{ source('./svg/logo.svg') }}
        </div>
        {{ block("menu", "menu.html.twig") }}
    </header> 
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
         <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
        </div>
        </div> 
    </div>
    <footer>
        <div class="flex_30">
            <h2>Services</h2>
            <p>Lorem Ipsum</p>
        </div>
        <div class="text_center">
            <h2>Catégories</h2>
            <ul>
                <li>un</li>
                <li>deux</li>
            </ul>
        </div>
        <div class="text_center">
            <h2>Partners</h2>
            <ul>
                <li>un</li>
                <li>deux</li>
            </ul>
        </div>
    </footer>
    <script src="public/js/global.js"></script> 
    <script src="public/js/modal.js"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
