<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SIM{% endblock %}</title>
        <link rel="stylesheet" href="public/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="public/css/classes.css" type="text/css" />
        <link rel="stylesheet" href="public/css/header.css" type="text/css" />
        <link rel="stylesheet" href="public/css/footer.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block stylesheets %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
    <header>
        {{ source('./svg/logo.svg') }}
        {{ block("menu", "menu.html.twig") }}
    </header> 
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <div class="flex_30">
            <h2>Services</h2>
            <p>Lorem Ipsum</p>
        </div>
        <div class="text_center">
            <h2>Catégories</h2>
            <ul>
                <li>un</li>
                <li>deux</li>
            </ul>
        </div>
        <div class="text_center">
            <h2>Partners</h2>
            <ul>
                <li>un</li>
                <li>deux</li>
            </ul>
        </div>
    </footer>
    {% block javascripts %}{% endblock %}
    </body>
</html>
