{% block timeline %}
    <div class="container">
        <!-- Time line -->
        <div id="timeline"></div>

        <!-- Button suivant et precedent -->
        <button id="precButton">Prec</button>
        <button id="suivButton">Suiv</button>

        <!-- Endroit ou s'affiche le texte de chaque event -->
        <div id="timelineDescription"></div>
    </div>
{% endblock %}