{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="public/css/chantier.css" type="text/css" />
    <link rel="stylesheet" href="public/css/timeline.css" type="text/css" />
{% endblock %}

{% block body %}
    
<div class="flex spacearound">
{# partie gauche contenant l'image et les barres #}

<div class="left_panel">

<div class="meters">

    <div class="progress">
        <h4>Satisfaction client</h4>
            <div class="bar">
                <div class="stat1"></div>
            </div>
        <p>20/100<p>
    </div>

        <div class="progress">
        <h4>Details</h4>
            <div class="bar">
                <div class="stat2"></div>
            </div>
        <p>50/100<p>
    </div>

    <div class="progress">
        <h4>Réputation entreprise</h4>
            <div class="bar">
                <div class="stat3"></div>
            </div>
        <p>80/100<p>
    </div>

    <div class="progress">
        <h4>Réputation personnelle</h4>
            <div class="bar">
                <div class="stat4"></div>
            </div>
        <p>100/100<p>
    </div>

</div>
    <div class="view-house">
        <img src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/ae7b0af3-8096-4bb5-8de0-e8ab878c866d" class="view" >
    </div>
</div>

{# partie droite contenant les question, les réponses ainsi que les boutons#}

<div class="right_panel">

    <div class="question">
        <h3> Suis je une question ? </h3>
    </div>

 <div class="img_question">
        <img src="http://absketches.com/wp-content/uploads/2016/01/TerrainHouse002.jpg" class="center" >
    </div>

    <div class="answer">
        <input type="checkbox" id="answer1" value="newsletter"> Réponse 1</input> <br>
        <input type="checkbox" id="answer2" value="newsletter"> Réponse 2</input> <br>
        <input type="checkbox" id="answer3" value="newsletter"> Réponse 3</input> <br>
        <input type="checkbox" id="answer4" value="newsletter"> Réponse 4</input> <br>

        <input class="button bOrange" type="button" id="send" value="Envoyer"></input>
    </div>
</div>

</div>

{{ block("timeline", "timeline.html.twig") }}
{% endblock %}

{% block footer %} <div> <h2></h2> </div>{% endblock %}

{% block javascripts %}
    <script src="public/js/timeline.js"></script>
    <script>
    // Get the button that opens the modal
    var btn = document.getElementById("send");

    //actions des bouttons
    var action1 = function(){
        console.log("continuer");
        close_modal();
    }

    //définir le message du modal
    var message = {
        header:"test",
        text:"Explication",
        buttons: [{t:"Continuer",f:action1}],
    }

    

    //le modal s'ouvre quand on clique sur le bouton
    btn.onclick = function() {
        if ($('#answer1')[0].checked){
            message.header = "Bonne réponse!";
        }
        else {
            message.header = "Mauvaise réponse!";
        }
        open_modal(message,false);
    }
    </script>
{% endblock %}