{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="public/css/chantier.css" type="text/css" />
    <link rel="stylesheet" href="public/css/timeline.css" type="text/css" />
{% endblock %}

{% block navbar %}
<div class="meters">

    <div id="satif" class="progress">
        <h4>Satisfaction client</h4>
                <svg class="bar" width="200" height="16">
                    <rect class="bar_back" width="200" height="16" fill="#001D4A" />
                    <rect class="bar_front" width="100" height="16" fill="#ECA400" />
                </svg>
        <p>20/100<p>
    </div>

    <!--    <div id="details" class="progress">
        <h4>Details</h4>
            <svg class="bar" width="200" height="16">
                    <rect class="bar_back" width="200" height="16" fill="#001D4A" />
                    <rect class="bar_front" width="100" height="16" fill="#ECA400" />
                </svg>
        <p>50/100<p>
    </div>-->

    <div id="pro" class="progress">
        <h4>Réputation entreprise</h4>
            <svg class="bar" width="200" height="16">
                    <rect class="bar_back" width="200" height="16" fill="#001D4A" />
                    <rect class="bar_front" width="100" height="16" fill="#ECA400" />
                </svg>
        <p>80/100<p>
    </div>

    <div id="perso" class="progress">
        <h4>Réputation personnelle</h4>
            <svg class="bar" width="200" height="16">
                    <rect class="bar_back" width="200" height="16" fill="#001D4A" />
                    <rect class="bar_front" width="100" height="16" fill="#ECA400" />
                </svg>
        <p>100/100<p>
    </div>

</div>
{% endblock %}

{% block body %}

<div class="flex spacearound">
{# partie gauche contenant l'image et les barres #}

<div class="left_panel">


    <div class="view-house">
        <img src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/ae7b0af3-8096-4bb5-8de0-e8ab878c866d" class="view" >
    </div>
</div>

{# partie droite contenant les question, les réponses ainsi que les boutons#}

<div class="right_panel">

    <div class="question">
        <h3> Chargement de la question ! </h3>
    </div>

 <div class="img_question">
        <img id="imgQuestion" src="http://absketches.com/wp-content/uploads/2016/01/TerrainHouse002.jpg" class="center" >
    </div>

    <div class="answer">
        <div class="radios">
            <input type="radio" name="group1" id="answer1" value="one"> <label for="answer1"> Réponse 1</label> <br>
            <input type="radio" name="group1" id="answer2" value="two"> <label for="answer2"> Réponse 2</label> <br>
            <input type="radio" name="group1" id="answer3" value="three"> <label for="answer3"> Réponse 3</label> <br>
            <input type="radio" name="group1" id="answer4" value="four"> <label for="answer4"> Réponse 4</label> <br>
        </div>
        <input class="button bOrange" type="button" id="send" value="Envoyer"></input>
    </div>
</div>

</div>

{{ block("timeline", "timeline.html.twig") }}
{% endblock %}

{% block footer %}<div><h2></h2></div>{% endblock %}



{% block javascripts %}
    <script>
        var etapes = [];
        {% for planification in getPlanifications %}
            etapes.push({
                id:"{{planification.id}}",
                name:"{{planification.name}}",
                description:"{{planification.description}}"
            });
        {% endfor %}
    </script>
    <script src="public/js/timeline.js"></script>
    <script src="public/js/chantier.js"></script>
{% endblock %}
