{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="public/css/menu.css" type="text/css" />
{% endblock %}
{% block extern_body %}
<div class="screen">

    <h2 class="title-game">Sim mi</h2>

    <a href="{{path('planification')}}"><input  class="button bOrange" type="button" id="new" value="Nouvelle partie"></input></a>

    <div class="buttons-secondary">
     
     <a href="{{path('score')}}"><input class="button bBlue2" type="button" id="stat" value="Statistiques"></input></a>
     <a href="{{path('deconnexion')}}"><input class="button bBlue2" type="button" id="return" value="Déconnexion "></input></a>
    </div>
</div>
{% endblock %}